
<br>
<div style="padding-right:10%;margin-bottom: 10px;">
<div class="row">
    <div class="col-sm-6">
<div class="flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <div class="card_title">Office</div>
        <img src = "../../assets/images/O5.JPG"  style="width:99%; height:99%;"alt = "Learn HTML5">
      </div>
      <div class="flip-box-back">
        <h2 style="padding-top:30%;">Back Side</h2>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6">
    <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <div class="card_title">Home</div>
            <img src = "../../assets/images/O1.jpg"  style="width:99%; height:99%;"alt = "Learn HTML5">
          </div>
          <div class="flip-box-back">
            <h2 style="padding-top:30%;">Back Side</h2>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
<div class="flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <div class="card_title">Restaurant</div>
        <img src = "../../assets/images/O2.jpg"  style="width:99%; height:99%;"alt = "Learn HTML5">
      </div>
      <div class="flip-box-back">
        <h2  style="padding-top:30%;">>Back Side</h2>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6">
    <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <div class="card_title">Residence</div>
            <img src = "../../assets/images/O3.JPG"  style="width:99%; height:99%;"alt = "Learn HTML5">
          </div>
          <div class="flip-box-back">
            <h2>Back Side</h2>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
