<div class="row">
  <div class="col-sm-6"> 
<div id="table" >
    <br>
    <H3 style="padding-left:15px">Register With Us! </H3>
    <div class="container">
        <form [formGroup]="angForm" novalidate>

            <div class="form-group">
              <label class="center-block"  class="p-col-fixed" style="width:500px">First Name:
                <input class="form-control" formControlName="name">
              </label>
            </div>
            <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)"style="color:red" >
                <div *ngIf="angForm.controls['name'].errors.required">
                Name is required.
              </div>
            </div>


              <div class="form-group">
                <label class="center-block" class="p-col-fixed" style="width:500px">Last Name:
                  <input class="form-control" formControlName="lastname">
                </label>
              </div>
              <div *ngIf="angForm.controls['lastname'].invalid && (angForm.controls['lastname'].dirty || angForm.controls['lastname'].touched)" style="color:red">
                  <div *ngIf="angForm.controls['lastname'].errors.required">
                  Last Name is required.
                </div>
                </div>
            


            <div class="form-group">
                <label class="center-block" class="p-col-fixed" style="width:500px">Email:
                  <input class="form-control" formControlName="email">
                </label>
              </div>
              <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)"style="color:red" >
                  <div *ngIf="angForm.controls['email'].errors.required">
                 Email is required
                </div>
                <div *ngIf="angForm.controls['email'].errors.email">Email must be a valid email address</div>
            </div>

            <div class="form-group">
                <label class="center-block" class="p-col-fixed" style="width:500px">Phone No:
                  <input class="form-control" formControlName="phone">
                </label>
              </div>
              <div *ngIf="angForm.controls['phone'].invalid && (angForm.controls['phone'].dirty || angForm.controls['phone'].touched)" style="color:red">
                  <div *ngIf="angForm.controls['phone'].errors.required">
                 Phone is invalid
                </div>
            </div>


        
            <div class="row">
                <div class="col-sm-6">
               <button id="button" pButton  [disabled]="angForm.pristine || angForm.invalid" class="w3-button w3-black w3-section"  style="width:200px" type="button" label="Submit"  ></button>
        </div>
        </div>
        </form>

      </div>
 

</div>


</div>
<div class="col-sm-6">
<app-tiles></app-tiles>
    </div>

</div>