#table{
    padding-right: 20%;
    padding-left: 10%;
   
}



/* Tabs*/

#tabs{
    color:teal;
}



.footer{
    display:inline-block;width:auto;   
    color:#fff!important;background-color:#000!important;
    padding-top:16px!important;padding-bottom:16px!important;
    display:block;
    margin-top: 0px;

  }